<div class="starter-template">
<div class="row spacer">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<form class="form-inline">
			<div class="form-group">
				<label class="sr-only" for="exampleInputEmail3">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Word or expresion">
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
	</div>
	<div class="col-md-3"></div>
</div>
</div>

